*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: bisque;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: dodgerblue;
    padding: 1.5rem;
}

header nav ul {
    display: flex;
    list-style-type: none;
   
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    margin: 1rem;
}

header nav ul li a:hover {
    border-bottom: 6px solid darkslateblue;
}

main{
    display: flex;
    height: 100vh;
}

section{
    display: flex;
    background-color: rgb(233, 172, 6);
    /*margin: 1rem;*/
    flex-wrap: wrap;
    /*flex-flow: row wrap-reverse; direction and wrap*/
    height: 100vh;
    /*fjustify-content: flex-end;*/
    /*flex-direction: row; */
    /* align-items: baseline; /*stretch is default, baseline: align to the first line.*/
    align-content: flex-start;
    flex: 2;
}
aside{
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.box{
    width: 100px;
    height: 100px;
    background-color: firebrick;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    /*padding-top:45px;*/
    margin: 1rem;
}



