*{
    margin: 0;
    padding: 0;
    border-bottom: box-sizing;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    height: 100%;
}

/* Header */

header{
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

header ul{
    list-style-type: none;
    padding: 10px;
}

header ul li{
    display: inline-block;
    margin: 10px;
    text-transform: uppercase;
}

header ul li a {
    text-decoration: none;
    text-align: center;
    color: #000000;
}

header ul li a:hover {
    border-bottom: 5px dotted #000000;;
    font-weight: bolder;
}

#logo img{
   width: 200px;
}

#logo a{
    padding: 10px;
    margin: 0;
}

#logo img:hover{
    background-color: lightgray;
    border-radius: 5px;
}

/* Main home*/

main{
    display: flex;
    flex-wrap: wrap;
}

#home{
    background:url("https://source.unsplash.com/1600x900/?nature") fixed center center/ cover;
    height: 480px;
    width: 100%;
    padding: 20px;
}

.home-container{
    max-width: 480px;
    height: 240px;
    margin: 100px 0 0 90px;
    padding: 40px;
    overflow: hidden;
    background-color: hsla(0, 100%, 90%, 0.4);
    border-radius: 10px;
    position: relative;
    line-height: 1.5rem;
    color: #ffffff;
}

.home-container h1{
    padding-bottom: 20px;
    font-size: 2rem;
}

#readmore {
    padding: 10px 0;
    position: absolute;
    margin: 10px 0;
}

p a{
    color: #ffffff;
    text-decoration: none;
    background-color: #15b9ff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    bottom: 20px;
}
p a:hover{
    background: lightgray;
    font-weight: bolder;
}

/* aboutus*/

#aboutus{
    display: flex;
    padding: 40px;
    width: 100%;
    justify-content: center;
}

.aboutus-container{
    display: flex;
    flex-direction: row;
}

#aboutus h2{
    padding-bottom: 10px;
}

.aboutus_text {
    display: flex;
    max-width: 480px;
    padding: 10px;
    flex-direction: column;
    line-height: 1.5rem;
}

.aboutus_img img{
    padding: 10px;
    display: flex;
    max-width: 480px;
    object-fit: contain;
}

/* contact*/

#contact{
    display: flex;
    height: auto;
    width: 100%;
    background-color: #2b2924;
    color: #ffffff;
    padding: 40px;
    justify-content: center;
}
.contact-container{
    flex-direction: column;
    flex: 50%;
    margin: 10px;
    align-content: center;
    max-width: 480px;
}

#contact h2{
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 0 0 20px 0;
}

.form-group {
    margin: 10px;
    padding-bottom: 10px;
    width: 260px;
    display: flex;
}

#contact form label{
    width: 35%;
}

#contact input[type="email"],
#contact input[type="text"]{
    width: 60%;
    height: 1rem;
    border-radius: 3px;
    padding: 2px;
}

#contact input[type="radio"],
#contact input[type="checkbox"]{
    margin: 0 20px;
}

#contact .checkbox-group label{
    width: 200px;
}

#contact textarea{
    width: 240px;
}

#contact h3{
    padding-top: 20px;
    margin: 20px 0;
    border-top: 1px dotted lightgray;
}

#contact .inner-text{
    display: flex;
    flex-direction: column;
    max-width: 480px;
    flex: 50%;
    margin: 10px;
    line-height: 1.5rem;
    align-content: center;
}

.btn{
    width: 80px;
    border-radius: 2px;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #15b9ff;
}
.btn:hover{
    background: lightgray;
}
